body {
    text-align: center;

    hr {
        width: 50%;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 2vh 5vw;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .buttons li:hover {
        cursor: default;
        color: black;
        background-color: white;
        border-radius: 5px;

        a {
            text-decoration: none;
            color: black;
        }
        
    }
    a:visited {
        color: white;
    }

    #menuContent li {
        display: block;
    }
}