#menuContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;

    ul {
        border-bottom: 2px inset white;
        list-style: none;
        padding: 2vh 5vw;

        li {
            padding: .5vh;
        }

        .desc { 
            font-style: italic;
        }

        h2 {
            margin: 0;
            padding: 0;
        }

        .tags {
            display: flex;
            // flex-direction: row-reverse;
            width: 50%;
            background-color: teal;
            color: white;
            border-radius: 10px;
            padding: 10px;

            p {
                display: inline;
                border: 1px solid white;
                border-radius: 25px;
                padding-right: 10px;
                padding-top: 2px;

                span {
                    background-color: teal;
                    color: white;
                    margin: 0px 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

.menu.hidden {
    display: none;
}